<div class="container-fluid">

  <div class="search-container">


      <jv-cities-typeahead [formControl]="searchControlWithAutocomplete"></jv-cities-typeahead>

  </div>

  <jv-loader *ngIf="loading$ | async"></jv-loader>

  <div *ngIf="!(loading$ | async) && !(error$ | async) && !!cityWeather">
    <jv-current-weather [cityWeather]="cityWeather"
                        [isFavorite]="isCurrentFavorite$ | async"
                        [unit]="unit$ | async"
                        (toggleBookmark)="onToggleBookmark()"></jv-current-weather>
  </div>

  <div *ngIf="!(loading$ | async) && error$ | async">
    <a>Tentar novamente</a>
  </div>

</div>
